<div>

  <p>
    Development today:
    <i *ngIf="developmentToday >= 0.0" style="color:blue">
      {{developmentToday | number : '1.2-2'}}%
    </i>
    <i *ngIf="developmentTodayTrend == 0"> ➙</i>
    <i *ngIf="developmentTodayTrend > 0"> ➚</i>
    <i *ngIf="developmentTodayTrend < 0"> ➘</i>
    <i *ngIf="developmentToday < 0.0" style="color:red">
      {{developmentToday | number : '1.2-2'}}%
    </i>

    <font size="-2">
      <i  style="color:gray"> (since start:
        <i *ngIf="developmentSinceStart >= 0.0" style="color:blue">    {{developmentSinceStart | number : '1.2-2'}}%</i>
        <i *ngIf="developmentSinceStart < 0.0" style="color:red">    {{developmentSinceStart | number : '1.2-2'}}%</i>
        <i *ngIf="developmentSinceStartTrend == 0"> ➙</i>
        <i *ngIf="developmentSinceStartTrend > 0"> ➚</i>
        <i *ngIf="developmentSinceStartTrend < 0"> ➘</i> )
      </i>
    </font>

    <font size="-2">
      <br>
      <i style="color:gray">tpSIndex:
        <i *ngIf="tpSIndex >= 0.0" style="color:blue">   {{tpSIndex | number : '1.2-2'}}%, </i>
        <i *ngIf="tpSIndex < 0.0" style="color:red">   {{tpSIndex | number : '1.2-2'}}%, </i>
      </i>
      <i style="color:gray">tpSMBIndex:
        <i *ngIf="tpSIndexMonthBased >= 0.0" style="color:blue">   {{tpSIndexMonthBased | number : '1.2-2'}}% </i>
        <i *ngIf="tpSIndexMonthBased < 0.0" style="color:red">   {{tpSIndexMonthBased | number : '1.2-2'}}% </i>
      </i>
      <i style="color:gray">tpYMBIndex:
        <i *ngIf="tpYIndex >= 0.0" style="color:blue">   {{tpYIndex | number : '1.2-2'}}% </i>
        <i *ngIf="tpYIndex < 0.0" style="color:red">   {{tpYIndex | number : '1.2-2'}}% </i>
      </i>
    </font>
    </p>

  <p *ngFor="let stockTradeInfo of stocksToBuy.list">
    <app-stock-details
      currancy="{{stockTradeInfo.currancy}}"
      numberToSell="{{stockTradeInfo.numberToSell}}"
      numberToBuy="{{stockTradeInfo.numberToBuy}}"
      priceOrigCurrancy="{{stockTradeInfo.priceOrigCurrancy}}"
      singleStockPriceSek="{{stockTradeInfo.singleStockPriceSek}}"
      tickerName="{{stockTradeInfo.tickerName}}"
      boughtAt="{{stockTradeInfo.currentStock.boughtAt}}"
      currentCount="{{stockTradeInfo.currentStock.count}}"
      name="{{stockTradeInfo.currentStock.name}}"
      soldAt="{{stockTradeInfo.currentStock.soldAt}}"
      tickerIsLocked="{{stockTradeInfo.currentStock.tickerIsLocked}}"
      totalInvestedSek="{{stockTradeInfo.currentStock.totalInvestedSek}}"
      lastUpdateVersion="{{stocksToBuy.updateVersion}}">
    </app-stock-details>
  </p>

  <p *ngFor="let stockTradeInfo of stocksToSell.list">
    <app-stock-details
      currancy="{{stockTradeInfo.currancy}}"
      numberToSell="{{stockTradeInfo.numberToSell}}"
      numberToBuy="{{stockTradeInfo.numberToBuy}}"
      priceOrigCurrancy="{{stockTradeInfo.priceOrigCurrancy}}"
      singleStockPriceSek="{{stockTradeInfo.singleStockPriceSek}}"
      tickerName="{{stockTradeInfo.tickerName}}"
      boughtAt="{{stockTradeInfo.currentStock.boughtAt}}"
      currentCount="{{stockTradeInfo.currentStock.count}}"
      name="{{stockTradeInfo.currentStock.name}}"
      soldAt="{{stockTradeInfo.currentStock.soldAt}}"
      tickerIsLocked="{{stockTradeInfo.currentStock.tickerIsLocked}}"
      totalInvestedSek="{{stockTradeInfo.currentStock.totalInvestedSek}}"
      lastUpdateVersion="{{stocksToSell.updateVersion}}">
    </app-stock-details>
  </p>

  <hr *ngIf="transactionsToday && transactionsToday.length != 0">
  <i *ngIf="transactionsToday && transactionsToday.length != 0"> Transactions today</i><br>
  <p *ngFor="let transaction of transactionsToday">
    <app-transaction-detail
      name="{{transaction.name}}"
      date="{{transaction.date}}"
      boughtAt="{{transaction.boughtAt}}"
      count="{{transaction.count}}"
      currency="{{transaction.currency}}"
      soldAt="{{transaction.soldAt}}"
      totalInvestedSek="{{transaction.totalInvestedSek}}"
      purchasedStocks="{{transaction.purchasedStocks}}"
      purchaseValueSek="{{transaction.purchaseValueSek}}"
      tradedByBot="{{transaction.tradedByBot}}"
      >
    </app-transaction-detail>
  </p>

  <hr *ngIf="transactionsYesterday && transactionsYesterday.length != 0">
  <i *ngIf="transactionsYesterday && transactionsYesterday.length != 0"> Transactions yesterday</i><br>
  <p *ngFor="let transaction of transactionsYesterday">
    <app-transaction-detail
      name="{{transaction.name}}"
      date="{{transaction.date}}"
      boughtAt="{{transaction.boughtAt}}"
      count="{{transaction.count}}"
      currency="{{transaction.currency}}"
      soldAt="{{transaction.soldAt}}"
      totalInvestedSek="{{transaction.totalInvestedSek}}"
      purchasedStocks="{{transaction.purchasedStocks}}"
      purchaseValueSek="{{transaction.purchaseValueSek}}"
      tradedByBot="{{transaction.tradedByBot}}"
    >
    </app-transaction-detail>
  </p>

  <hr>

  <app-turnover-detail *ngIf="turnoverToday"
    title="today"
    boughtForSek="{{turnoverToday.boughtForSek}}"
    soldForSek="{{turnoverToday.soldForSek}}">
  </app-turnover-detail>
  <br>
  <app-turnover-detail *ngIf="turnoverWeek"
    title="week"
    boughtForSek="{{turnoverWeek.boughtForSek}}"
    soldForSek="{{turnoverWeek.soldForSek}}">
  </app-turnover-detail>
  <br>
  <app-turnover-detail *ngIf="turnoverMonth"
    title="month"
    boughtForSek="{{turnoverMonth.boughtForSek}}"
    soldForSek="{{turnoverMonth.soldForSek}}">
  </app-turnover-detail>



  <p style="color:gray">

    <font size="-1">
      updated       : {{stocksToBuy.updatedUtc}} <br>
      successCounter: {{stocksToBuy.successCounter}} <br>
      skippedCounter: {{stocksToBuy.skippedCounter}} <br>
      failCounter:    {{stocksToBuy.failCounter}} <br>
      rising stocks:    {{stocksToBuy.sellModeStocks}} <br>
      neutral stocks:    {{stocksToBuy.neutralModeStocks}} <br>
      falling stock:    {{stocksToBuy.buyModeStocks}} <br>

    </font>
  </p>
</div>
