<div>

  <p *ngFor="let stockTradeInfo of stocksToBuy.list">
    <app-stock-details
      currancy="{{stockTradeInfo.currancy}}"
      numberToSell="{{stockTradeInfo.numberToSell}}"
      numberToBuy="{{stockTradeInfo.numberToBuy}}"
      priceOrigCurrancy="{{stockTradeInfo.priceOrigCurrancy}}"
      singleStockPriceSek="{{stockTradeInfo.singleStockPriceSek}}"
      tickerName="{{stockTradeInfo.tickerName}}"
      boughtAt="{{stockTradeInfo.currentStock.boughtAt}}"
      currentCount="{{stockTradeInfo.currentStock.count}}"
      name="{{stockTradeInfo.currentStock.name}}"
      soldAt="{{stockTradeInfo.currentStock.soldAt}}"
      tickerIsLocked="{{stockTradeInfo.currentStock.tickerIsLocked}}"
      totalInvestedSek="{{stockTradeInfo.currentStock.totalInvestedSek}}"
      lastUpdateVersion="{{stocksToBuy.updateVersion}}">
    </app-stock-details>
  </p>

  <p *ngFor="let stockTradeInfo of stocksToSell.list">
    <app-stock-details
      currancy="{{stockTradeInfo.currancy}}"
      numberToSell="{{stockTradeInfo.numberToSell}}"
      numberToBuy="{{stockTradeInfo.numberToBuy}}"
      priceOrigCurrancy="{{stockTradeInfo.priceOrigCurrancy}}"
      singleStockPriceSek="{{stockTradeInfo.singleStockPriceSek}}"
      tickerName="{{stockTradeInfo.tickerName}}"
      boughtAt="{{stockTradeInfo.currentStock.boughtAt}}"
      currentCount="{{stockTradeInfo.currentStock.count}}"
      name="{{stockTradeInfo.currentStock.name}}"
      soldAt="{{stockTradeInfo.currentStock.soldAt}}"
      tickerIsLocked="{{stockTradeInfo.currentStock.tickerIsLocked}}"
      totalInvestedSek="{{stockTradeInfo.currentStock.totalInvestedSek}}"
      lastUpdateVersion="{{stocksToSell.updateVersion}}">
    </app-stock-details>
  </p>
  <hr>
  <p style="color:gray">

    <font size="-1">
      updated       : {{stocksToBuy.updatedUtc}} (UTC) <br>
      successCounter: {{stocksToBuy.successCounter}} <br>
      failCounter:    {{stocksToBuy.failCounter}} <br>
      rising stocks:    {{stocksToBuy.sellModeStocks}} <br>
      neutral stocks:    {{stocksToBuy.neutralModeStocks}} <br>
      falling stock:    {{stocksToBuy.buyModeStocks}} <br>

    </font>
  </p>
</div>
